{{> static }}
{{> header }}
{{> sidebar }}

<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Item Creation</h2>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/item/list">Items</a></li>
            <li class="breadcrumb-item active"><a href="#">New Item</a></li>
        </ul>
    </div>
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block">
                        <div class="title"><strong>Basic Details</strong></div>
                        <div class="block-body">
                            <form method="post" class="form-horizontal" action="/item/new">
                                <div class="form-group row margin-row">
                                    <label for="model_name" class="col-sm-3 form-control-label">Model Name</label>
                                    <div class="col-sm-9">
                                        <input id="model_name" name="newModelName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Company Name</label>
                                    <div class="col-sm-2">
                                        <div class="i-checks">
                                            <input id="new_company_check" type="checkbox" value=""
                                                class="new_check new_company_check checkbox-template">
                                            <label for="new_company_check">Add New</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 div_select new_company_check" id="div_select_company">
                                        <select id="company_name" name="companyName"
                                            class="select_id new_company_check form-control mb-3 mb-3 selectpicker"
                                            data-live-search="true" title="Select Company">
                                            <option value="" disabled selected data-token="option 1">Select Company
                                            </option>

                                            {{#each itemCompanies}}
                                            <option value="{{this.name}}" data-token="{{this.name}}">{{this.name}}</option>
                                            {{/each}}
                                            {{!-- {% for company in companies %}
                                            <option value={{ company.name }} data-token={{! company.name }}>
                                                {{! company.name }}</option>
                                            {% endfor %} --}}


                                            
                                            <!--option data-token="option 1">option 1</option>
                                                <option data-token="option 1">option 2</option>
                                                <option data-token="option 1">option 3</option>
                                                <option data-token="option 1">option 4</option-->
                                        </select>
                                        <!--small class="help-block-none">Select from alredy Added</small-->
                                    </div>
                                    <!--label class="col-sm-2 form-control-label">AddCompany name Name</label-->
                                    <div id="add_company" class="div_add col-sm-7 new_company_check">
                                        <input id="add_new_company" name="newCompanyName" placeholder="Add New Company"
                                            type="text" class="add_new form-control new_company_check" required>
                                        <!--small class="help-block-none">Add New Company</small-->
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">HSN Code</label>
                                    <div class="col-sm-9">
                                        <input id="hsn_code" name="hsn" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Item Type</label>
                                    <div class="col-sm-2">
                                        <div class="i-checks">
                                            <input id="new_item_check" type="checkbox" value=""
                                                class="new_check checkbox-template">
                                            <label for="new_item_check">Add New</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 div_select new_item_check" id="div_select_company">
                                        <select id="type" name="itemType"
                                            class="select_id form-control mb-3 mb-3 selectpicker new_item_check"
                                            data-live-search="true" >
                                            <option value="0" disabled selected data-token="option 1">Select Type
                                            </option>
                                            {{#each itemTypes}}
                                            <option value="{{this.type}}" data-token="{{this.type}}">{{this.type}}</option>
                                            {{/each}}
                                            {{!-- {% for type in types %}
                                            <option value={{ type.type_name }} data-token={{! type.type_name }}>
                                                {{! type.type_name }}</option>
                                            {% endfor %} --}}
                                            <!--option data-token="option 1">option 2</option>
                                                <option data-token="option 1">option 3</option>
                                                <option data-token="option 1">option 4</option-->
                                        </select>
                                        <!--small class="help-block-none">Select from alredy Added</small-->
                                    </div>
                                    <!--label class="col-sm-2 form-control-label">AddCompany name Name</label-->
                                    <div id="add_company" class="div_add col-sm-7 new_item_check">
                                        <input id="add_new_type" name="newItemType" required type="text"
                                            placeholder="Add new type" class="add_new form-control new_item_check">
                                        <!--small class="help-block-none">Add New Item</small-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Tax</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input id="tax" name="tax" type="text" required placeholder="%"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Price</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input id="price" name="price" type="text" required placeholder="Amount"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <div class="col-sm-9 ml-auto">
                                        <button type="" class="btn btn-secondary">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                        <p>{{ msgItemNew }}</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{> footer }}